.idea
/application
/build-ui
/builderConfig.json
/node_modules
/package-lock.json
/tsconfig.json
/tslib.js
/tslint.json
I18n/**/*.js
!I18n/*.routes.js
/wasaby-cli_artifacts
/wasabyGlobalTypings.d.ts
/tailwind.config.js
/**/tsconfig.json
/.eslintrc.js
/.stylelintrc.js
.stylelintignore
/.prettierrc.js
.prettierignore